{% extends "base.html" %}
{% load static %}
 <title>{% block title %}Home{% endblock %}</title>



    <head>



</head>


{% block content %}

    </div class=" flex items-center justify-center py-12 relative">
    <div class ="min-h-screen bg-gray-100 flex flex-col items-center justify-center">
        <div class="max-w-md w-full px-6 py-12 bg-white shadow-md overflow-hidden sm:rounded-lg prose">
            <h1> Playlists </h1>
{% for playlist in playlists %}
    <h2>        <div class="flex-1">
          {{playlist.playlistName}} - {{playlist.user}}
        </div></h2>
            {% endfor %}
        </div>

    </div>
{% endblock %}